ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-top: 100px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(250, 247, 252, 0.1);
}

  /* Cambia el color del borde y del texto del input */
  ion-item {
    --background: transparent; /* Fondo transparente en cada item */
    --color: #6a0dad; /* Cambia el color del texto */
    border-bottom: 1px solid #6a0dad; /* Línea debajo del input en color púrpura, opcional */
    margin: 30px 0;
  }


ion-input {
  color: #FFFFFF; /* Cambia el color del texto dentro del input */
  --placeholder-color: #f61616; 
  
}
ion-label {
  font-size: 2rem; /* Ajusta el tamaño según prefieras */
  font-weight: bold; /* Opcional: para hacer el texto más grueso */
  font-family: 'Roboto', sans-serif; /* Cambia 'Roboto' al nombre de tu fuente */
  
}

ion-title {
  color: #6a0dad;
  font-size: 1rem; /* Ajusta el tamaño según prefieras */
  font-weight: bold; /* Opcional: para hacer el texto más grueso */
  font-family: 'Roboto', sans-serif; /* Cambia 'Roboto' al nombre de tu fuente */
  text-shadow: 
  1px 1px 0 white, 
  -1px 1px 0 white, 
  1px -1px 0 white, 
  -1px -1px 0 white;

}

h1 {
  color: #6a0dad;
  font-size: 3rem; /* Ajusta el tamaño según prefieras */
  font-weight: bold; /* Opcional: para hacer el texto más grueso */
  font-family: 'Roboto', sans-serif; /* Cambia 'Roboto' al nombre de tu fuente */
  text-align: center;
  margin: 30px 0;
  text-shadow: 
  1px 1px 0 white, 
  -1px 1px 0 white, 
  1px -1px 0 white, 
  -1px -1px 0 white;
} 
ion-content {
  border: 2px solid #6a0dad; /* Borde fino de color alrededor de la pantalla */
  margin: 0; /* Quita el margen para que el borde toque los bordes de la pantalla */
  box-sizing: border-box; /* Asegura que el borde no afecte el tamaño total */
}
