// Fondo dinámico de pantalla completa
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: background-image 1s ease-in-out;
}

// Ajustes para header, footer, y toolbar para transparencia
ion-header, ion-footer, ion-toolbar {
  --background: rgba(0, 0, 0, 0.0);
  box-shadow: none;
  color: white;
}

// Barra de navegación inferior transparente
ion-tab-bar {
  --background: transparent;
}

ion-tab-button {
  color: white;
}

ion-title {
  color: white;
}

// Estilos de tarjeta
.card-container ion-card {
  width: 220%;
  height: 220px; /* Puedes ajustar este tamaño según prefieras */
  background-size: cover; /* Asegura que la imagen de fondo cubra toda la tarjeta */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alínea el contenido al final */
  color: white;
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Evita que el contenido sobresalga */
}

ion-card-header, ion-card-content {
  background-color:color(srgb red green blue); /* Fondo semi-transparente para mayor contraste */
  padding: 10px;
  border-radius: 6px;
}
.card-image {
  width: 100%;          /* Ajusta la imagen al ancho completo de la card */
  height: auto;         /* Mantiene la proporción original de la imagen */
  object-fit: cover;    /* Rellena la imagen dentro de la card sin distorsión */
  border-radius: 8px;   /* Opcional: ajusta las esquinas */
}

ion-card-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;

}

// Contenedor de la cuadrícula para disposición en 2x2
.grid-container {
  display: grid;
  gap: 30px;
  padding: 10px;

}
.imagen-ajustada {
  width: 100%;
  max-height: 150px; /* Ajusta el tamaño según lo que necesites */
  object-fit: cover; /* Hace que la imagen se recorte en lugar de distorsionarse */
  border-radius: 8px;
  margin-bottom: 100px;
}